

<div class="row">

  <div class="col-md-3">
    <h7 routerLink="home">go to home</h7>
  </div>

  <div class="col-md-3">
    <h7 routerLink="role">go to role</h7>
  </div>

  <div class="col-md-3">
    <h7 routerLink="user">go to user</h7>
  </div>

  <div class="col-md-3">
    <h7 [routerLink]="['user',7]">go to user</h7>
  </div>

</div>
<button igxButton="flat">App Componenet</button>

<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

